<fieldset>

  <div class="form-group <%= 'has-error' if @budget.errors[:name].present? %>">
    <%= form.label :name, class: "control-label col-lg-2" %>
    <div class="col-lg-10">
      <%= form.text_field :name, class: "form-control" %>
      <span class="help-block"><%= @budget.errors[:name].first %></span>
    </div>
  </div>

</fieldset>
