<div class="container">
  <div class="panel">
    <div class="panel-heading">Your budgets</div>

    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Total Amount</th>
        <th></th>
      </tr>
      <% @budgets.order(created_at: :desc).each do |budget| %>
        <tr>
          <td><%= budget.name %></td>
          <td><%= budget.members.count %></td>
          <td>&euro;</td>
          <td><%= link_to "Show", budget_path(budget), class: "btn btn-primary btn-small"%></td>
        </tr>
      <% end %>
      <% if can? :create, Budget %>
        <tr>
          <td colspan="4"><%= link_to "Add", new_budget_path, class: "btn btn-primary btn-small" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
