<div class="container">

  <%= form_for @budget, html: {class: "form-horizontal"} do |form| %>

    <%= render "form", form: form %>

    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <%= form.submit class: "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>
