/*
 *= require "bootstrap"
 *= require "bootstrap-glyphicons"
*/

html,
body {
  height: 100%;
  padding-top: 50px;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push,
.footer {
  height: 50px;
}
