@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/responsive";

@fontAwesomeEotPath: asset-url("fontawesome-webfont.eot");
@fontAwesomeEotPath_iefix: asset-url("fontawesome-webfont.eot#iefix");
@fontAwesomeWoffPath: asset-url("fontawesome-webfont.woff");
@fontAwesomeTtfPath: asset-url("fontawesome-webfont.ttf");
@fontAwesomeSvgPath: asset-url("fontawesome-webfont.svg#fontawesomeregular");

@import "fontawesome/font-awesome";

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push,
.footer {
  height: 50px;
}

.spacer {
  height: 50px;
}

@media (max-width: 979px) {
  .spacer {
    height: 0px;
  }
}
