<div class="container">
  <%= form_for [@budget, @transaction], url: budget_transaction_path(@budget, @transaction), html: {class: "form-horizontal"} do |form| %>

    <%= render "form", form: form %>

    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>
</div>
